<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="LogDir" value="${specialfolder:folder=ApplicationData}/TestUnity/logs"/>
  <variable name="LogDay" value="${date:format=dd}"/>

  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" overflowAction="Grow" queueLimit="1000000">
      <target xsi:type="File" fileName="${LogDir}/${LogDay}.log" encoding="utf-8"
				maxArchiveFiles="4" archiveNumbering="Sequence" archiveAboveSize="4194304 " archiveFileName="${LogDir}/${LogDay}.{##}.a" />
    </target>
    <target xsi:type="Console" name="console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
